body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

h1 {
    color: blueviolet;
}

fieldset {
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    width: 18em;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer;
}

input {
    width: 20em;
}

/* input.radio {
    width: auto;
    margin-right: 0.5em;
    
} */

.sexo  {
   /* border: 1px solid red; */
   display: flex;
   margin-bottom: 1px;
    
}

.sexo input {
    width: auto;
}

.radio {
    /* border: 1px solid blue; */
}

.label {
    /* border: 1px solid green; */
    padding-left: 2px;
}

.submit{
    height: 30px;
    cursor: pointer;
}